<div *ngIf="childSelectedMeal">
      <h1>Edit meal</h1>
      <div class="container">
        <label>Enter meal description:</label>
        <input  [(ngModel)]="childSelectedMeal.description">

      <div>
        <label>Enter meal calories:</label>
        <input [(ngModel)]="childSelectedMeal.calories">
    </div>
    <div>
        <div>
          <label>Enter meal type:</label>
          <input [(ngModel)]="childSelectedMeal.type">
        </div>
        <button (click)="doneClicked()">Done</button>
      </div>
    </div>
</div>
