<div *ngIf="selectedMeal">
      <h1>Edit meal</h1>
      <div>
        <label>Enter meal Description:</label>
        <input [(ngModel)]="selectedMeal.description">
      </div>
      <div>
        <label>Enter meal calories:</label>
        <input [(ngModel)]="selectedMeal.calories">
    </div>
    <div>
        <div>
          <label>Enter meal type:</label>
          <input [(ngModel)]="selectedMeal.type">
        </div>
        <button (click)="finishedEditing()">Done</button>
      </div>
    </div>
