<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<div class="container">
  <h1>My First Angular 2 App</h1>
    <div *ngFor="let currentMeal of meal">
      <h3>{{ currentMeal.description }}</h3>
      <button (click)="showDetails(currentMeal)">Edit</button>
    </div>
    <h1>Edit Task</h1>
    <div>
      <label>Enter Task Description:</label>
      <input [(ngModel)]="selectedMeal.description">
    </div>
    <div>
      <label>Enter Task ID:</label>
      <input [(ngModel)]="selectedMeal.id">
      <button (click)="finishedEditing()">Done</button>

    </div>
  </div>
<app-meals></app-meals>
